[core]
	editor = nvim
	excludesfile = ~/.gitignore
	autocrlf = input

[init]
	defaultBranch = main

[branch]
	autosetupmerge = always
	autosetuprebase = always

[push]
	default = current
	autoSetupRemote = true

[fetch]
	prune = true

[merge]
	tool = vimdiff

[rebase]
	autoStash = true

[diff]
	wordRegex = [^[:space:]]

[status]
	submodulesummary = true

[apply]
	whitespace = fix

[format]
	pretty = %Cblue%h%Creset %Cgreen[%cr]%Creset (%an) %s

[alias]
	# Basics
	a     = add
	b     = branch
	c     = commit -m
	ci    = commit -a
	co    = checkout
	sw    = switch
	st    = status
	stb   = status -sb
	p     = pull
	d     = diff
	diffc = diff --cached
	diffw = diff --word-diff

	# Logs
	lg    = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
	lol   = log --pretty=oneline --abbrev-commit --graph --decorate
	graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

	# Staging
	unstage = reset HEAD
	addw  = "!git diff -w --no-color | git apply --cached --ignore-whitespace"

	# Branches
	branch-name = "!git rev-parse --abbrev-ref HEAD"
	rebase-branch = "!git rebase -i `git merge-base main HEAD`"
	clean-local = "!git branch -vv | grep 'origin/.*: gone]' | awk '{print $1}' | xargs git branch -D"

	# Assume unchanged
	assume = update-index --assume-unchanged
	unassume = update-index --no-assume-unchanged
	assumed = "!git ls-files -v | grep ^h | cut -c 3-"

	# Conflict resolution
	ours = "!f() { git checkout --ours $@ && git add $@; }; f"
	theirs = "!f() { git checkout --theirs $@ && git add $@; }; f"

[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f

[credential "https://github.com"]
	helper =
	helper = !gh auth git-credential

[credential "https://gist.github.com"]
	helper =
	helper = !gh auth git-credential

[include]
	path = ~/.gitconfig.local
