[submodule "lucius"]
	path = lucius
	url = https://github.com/jonathanfilip/lucius.git
[submodule "janus-modules/vim-surround"]
	path = janus-modules/vim-surround
	url = https://github.com/tpope/vim-surround.git
[submodule "janus-modules/auto-pairs"]
	path = janus-modules/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
[submodule "janus-modules/phpcomplete.vim"]
	path = janus-modules/phpcomplete.vim
	url = https://github.com/shawncplus/phpcomplete.vim.git
[submodule "janus-modules/ultisnips"]
	path = janus-modules/ultisnips
	url = https://github.com/SirVer/ultisnips.git
[submodule "janus-modules/vim-airline"]
	path = janus-modules/vim-airline
	url = https://github.com/bling/vim-airline.git
[submodule "janus-modules/gundo.vim"]
	path = janus-modules/gundo.vim
	url = https://github.com/sjl/gundo.vim.git
[submodule "janus-modules/YouCompleteMe"]
	path = janus-modules/YouCompleteMe
	url = https://github.com/Valloric/YouCompleteMe.git
  ignore = dirty
[submodule "janus-modules/vim-lucius"]
	path = janus-modules/vim-lucius
	url = https://github.com/jonathanfilip/vim-lucius.git
[submodule "janus-modules/fzf.vim"]
	path = janus-modules/fzf.vim
	url = https://github.com/junegunn/fzf.vim.git
[submodule "janus-modules/vim-python-pep8-indent"]
	path = janus-modules/vim-python-pep8-indent
	url = https://github.com/hynek/vim-python-pep8-indent.git
[submodule "janus-modules/vim-polyglot"]
	path = janus-modules/vim-polyglot
	url = https://github.com/sheerun/vim-polyglot
[submodule "janus-modules/fzf"]
	path = janus-modules/fzf
	url = https://github.com/junegunn/fzf.git
[submodule "janus-modules/braceless.vim"]
	path = janus-modules/braceless.vim
	url = https://github.com/tweekmonster/braceless.vim.git
[submodule "janus-modules/rainbow_parentheses.vim"]
	path = janus-modules/rainbow_parentheses.vim
	url = https://github.com/junegunn/rainbow_parentheses.vim.git
